@page "/forgotpassword"

@if (forgotPasswordResult != null && forgotPasswordResult.ShowForm)
{
    <EditForm Model="forgotPasswordModel" OnValidSubmit="HandleLogin">
        <h4>Введите email.</h4>

        <div class="form-group">
            <label for="email">Email address</label>
            <InputText Id="email" Class="form-control" @bind-Value="forgotPasswordModel.Email" />
            <ValidationMessage For="@(() => forgotPasswordModel.Email)" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <DataAnnotationsValidator />
    </EditForm>

    @if (ShowMessages && Messages != null)
    {
        <div class="alert btn-primary" role="alert">

            @foreach (var message in Messages)
            {
                <p>@message</p>
            }
        </div>
    }
}

@code {

    [Inject] protected IAuthService _authService { get; set; }

    private ForgotPasswordResult forgotPasswordResult;
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();

    private bool ShowMessages;
    private IEnumerable<string> Messages;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        forgotPasswordResult = await _authService.ForgotPasswordAsync(forgotPasswordModel);
    }

    private async System.Threading.Tasks.Task HandleLogin()
    {
        ShowMessages = false;
        var result = await _authService.ForgotPasswordAsync(forgotPasswordModel);

        if (result.ShowMessages)
        {
            ShowMessages = result.ShowMessages;
            Messages = result.Messages;
        }
    }
}
